:root { 
--main-color:#af9f90; 
--secondary-color:#ea894d; 
--third-color: #2f18e0; 
--primary-btn-color: #4b1be8; 
--secondary-btn-color:#4b1be8;
--text-color: #111010; 
--white: #F2F0EF;
}

* {
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body {
    background-color:var(--white);
    font-family: "Playfair Display", serif;
}

header { 
    background-color:var(--secondary-color);
   
    box-shadow: 0px 4px 8px 0px
        rgba(0, 0, 0, 0.2);

}

nav ul {
    list-style-type:none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
   
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding:1rem 20px;
    display: block;
}
  

.header-wrapper {
    padding-left: 10px;
}

h1 {font-size: 2rem;}

main { 
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px
    rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 background-color: var(--main-color);
}

section {
    padding: 20px 20px;
    margin: 10px auto;
}

.wrapper { 
    margin-bottom:20px;

}

select#include {
    background-color:var(--secondary-color);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.primary-btn {

    background-color:var(--primary-btn-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.secondary-btn { 

    background-color:var(--secondary-color);
    border: none;
    color:var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.space-wrapper {
padding: 10px 0 10px 0;
display: flex;
justify-content: center;

}


.wrapper label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color:var(--text-color)
}

.wrapper input[type="range"],
.wrapper select,
.wrapper input[type="number"] {
    width: 100%;
    padding:20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 13px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px
        rgba(0, 0, 0, 0.1);
    color: #000;
}

.wrapper select {
    appearance: none;
}

.options button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
        ease;
}

.options button:hover {
    background-color: rgb(20, 107, 20);
}

.output {
    background-color: #ffffff;
     padding-top: 2rem;
    border-radius: 10px;
    border: 2px solid;
    min-height: 200px;
    box-shadow: 5px 5px 15px 5px
        rgba(0, 0, 0, 0.2);
    color: #333;
    margin: 1rem auto;
}
